<div class="gymmembers_title">
<form method="POST" action="/members">

    <p><label for="first_name"><strong>First Name:</strong></label>
    <input id="first_name" type="text" name=first_name /></p>

    <p><label for="last_name"><strong>Last Name:</strong></label>
    <input id="last_name" type="text" name=last_name /></p>

    <p><input type="submit" value="Add Member"></p>

</form>
</div>