<% @gymclasses.each do |gymclass| %>
<p>Class Name: <%= gymclass.class_name() %></p>
<p>Capacity: <%= gymclass.capacity() %></p>
<p>Start Time: <%= gymclass.time() %></p>
<p><a href="/gym_classes/ <%= gymclass.id %>">Class Booking</a></p>
<hr />
<% end %>