<form method="POST" action="/gym_classes">

    <label for="class_name">Class Name:</label>
    <input id="class_name" type="text" name=class_name />

    <label for="time">Start Time:</label>
    <input id="time" type="number" name=time />

    <label for="capacity">Maximum Capacity:</label>
    <input id="capacity" type="number" name="capacity" />

    <label for="gym-class-selct">Choose a class:</label>
    <select id="gym-class-select" name='gymclass'>
        <option selected disabled value>Choose a class</option>
        <option value="Kettlebells">Kettlebells</option>
        <option value="Squats">Squats</option>
        <option value="Deadlifts">Deadlifts</option>
    </select>

    <input type="submit" value="Add Class">

</form>