<div class="gymmembers_title">
<form method="POST" action="/gym_classes">

    <p><label for="class_name"><strong>Class Name:</strong></label>
    <input id="class_name" type="text" name=class_name /></p>

    <p><label for="time"><strong>Start Time:</strong></label>
    <input id="time" type="number" name=time /></p>

    <p><label for="capacity"><strong>Maximum Capacity:</strong></label>
    <input id="capacity" type="number" name="capacity" /></p>

    <p><label for="gym-class-selct"><strong>Choose a class:</strong></label>
    <select id="gym-class-select" name='gymclass'></p>
        <option selected disabled value>Choose a class</option>
        <option value="Kettlebells">Kettlebells</option>
        <option value="Squats">Squats</option>
        <option value="Deadlifts">Deadlifts</option>
    </select>

    <p><input type="submit" value="Add Class"></p>

</form>
</div>