<div class="gymmembers_title">
<h1><%= @gymclass.class_name %></h1>
</div>

<ul class="gymmembers">

<h3>Booked Members:</h3>

  <% @gymclass.members.each do |member| %>
  <li><%= member.full_name %></li>
  <% end %>
</ul>