<!DOCTYPE html>
<html>
<head>
    <title>Muscle Bound</title>
</head>
<body>
    <header>
        <nav>
            <li>
                <a href="/members">Members</a>
                <a href="/gym_classes">Classes</a>
                <a href="/gym_classes/new">Add New Class</a>
                <a href="/members/new">Add New member</a>
                <a href="/book_classes/new">New Booking</a>
            </li>
        </nav>
    </header>
  <%= yield %>
  </section>
</body>
</html>