<!DOCTYPE html>
<html>
<head>
    <title>Muscle Bound</title>
</head>
<body>
    <header>
        <nav>
            <li>
                <a href="/member">Members</a>
                <a href="/class">Classes</a>
            </li>
        </nav>
    </header>
  <%= yield %>
  </section>
</body>
</html>