<% @bookclasses.each do |bookclass| %>
   <p> <strong>Member Name:</strong> <%= bookclass.member.full_name %></p>
   <p> <strong>Class Name:</strong> <%= bookclass.gym_class.class_name %></p>
    <br/>
<hr />


<% end %>