<div class="gymmembers_title">
<form method="POST" action="/book_classes">

   
    <p><label for="gym-class-selct"><strong>Choose a class:</strong></label></p>
    <select id="gym-class-id" name="gym_class_id">
       <% @gymclasses.each do |gymclass| %>
            <option value="<%= gymclass.id %>"><%= gymclass.class_name %></option>
       <% end %>
    </select>
    <p><label for="member-class-selct"><strong>Assign a member:</strong></label></p>
    <select id="member-id" name="member_id">
        <% @members.each do |member| %>
            <option value="<%= member.id %>"><%= member.full_name %></option>
       <% end %>

    </select>

   <p><input type="submit" value="Book Class"></p>

</form>
</div>